#projects{
    padding:50px;
    background-color:rgb(48, 45, 45);
    display:flex;
    gap:30px;
    justify-content:center;
    align-items:center;

}


.card {
    width:300px;
    height:300px;
    position:relative;
    border-radius:5px;
    background-color: rgb(39, 36, 36);
    box-sizing:content-box;
    max-width:300px;
    max-height:420px;
    box-shadow:2px 2px 8px rgb(61, 58, 58);

}


.card:hover{
    background-color: rgb(32, 30, 30);
}


.img{
    height:150px;
    width:150px;
    margin:10px;
    z-index:10
    
}


.card h2{
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 color:antiquewhite;
 font-size:18px;
 z-index:10
}


.card h4{
    font-size:12px;
    color:whitesmoke;
    margin-left:20px ;
    text-align:left;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    z-index:10
}


canvas{

transform:translateX(-100px);
position:absolute;
opacity:0.15;
z-index:1;

}

.display_message{
    position:absolute;
    display:flex;
    

    width:300px;
    height:350px;
    opacity:1;
    justify-content: center;
    align-items:center;
    text-align:center;
    color:antiquewhite;
    background-color:rgb(39, 36, 36);
    opacity:0.9;
    font-size:16px;

    
}

.dont_display{
    display:none;
}



@media (max-width:1028px){
    #projects{
        
        flex-direction:column;
    }
    .card{

    }

    }